<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\david\source\repos\BibliotecaDigitalv2\BibliotecaDigital\BaseDadosTxT" />
	</appSettings>

	<connectionStrings>
		<add name="BibliotecaDigital"
			 connectionString="Server=.\SQLEXPRESS;Database=BibliotecaDigital;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

</configuration>