USE [BibliotecaDigital]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Nacionalidade] [varchar](50) NULL,
	[AnoNascimento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livro]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livro](
	[IdLivro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[AnoPublicacao] [int] NULL,
	[Editora] [varchar](100) NULL,
	[ISBN] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLivro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livro_Autor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livro_Autor](
	[IdLivro] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLivro] ASC,
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Livro_Autor]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Livro_Autor]  WITH CHECK ADD FOREIGN KEY([IdLivro])
REFERENCES [dbo].[Livro] ([IdLivro])
GO
/****** Object:  StoredProcedure [dbo].[spAdicionarAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAdicionarAutor]
    @Nome VARCHAR(100),
    @Nacionalidade VARCHAR(50),
    @AnoNascimento INT
AS
INSERT INTO Autor (Nome, Nacionalidade, AnoNascimento)
VALUES (@Nome, @Nacionalidade, @AnoNascimento)
GO
/****** Object:  StoredProcedure [dbo].[spAdicionarLivro]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAdicionarLivro]
    @Titulo VARCHAR(100),
    @AnoPublicacao INT,
    @Editora VARCHAR(100),
    @ISBN VARCHAR(20)
AS
INSERT INTO Livro (Titulo, AnoPublicacao, Editora, ISBN)
VALUES (@Titulo, @AnoPublicacao, @Editora, @ISBN)
GO
/****** Object:  StoredProcedure [dbo].[spAssociarLivroAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAssociarLivroAutor]
    @IdLivro INT,
    @IdAutor INT
AS
INSERT INTO Livro_Autor (IdLivro, IdAutor)
VALUES (@IdLivro, @IdAutor)
GO
/****** Object:  StoredProcedure [dbo].[spAtualizarAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAtualizarAutor]
    @IdAutor INT,
    @Nome VARCHAR(100),
    @Nacionalidade VARCHAR(50),
    @AnoNascimento INT
AS
UPDATE Autor
SET Nome = @Nome,
    Nacionalidade = @Nacionalidade,
    AnoNascimento = @AnoNascimento
WHERE IdAutor = @IdAutor
GO
/****** Object:  StoredProcedure [dbo].[spAtualizarLivro]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAtualizarLivro]
    @IdLivro INT,
    @Titulo VARCHAR(100),
    @AnoPublicacao INT,
    @Editora VARCHAR(100),
    @ISBN VARCHAR(20)
AS
UPDATE Livro
SET Titulo = @Titulo,
    AnoPublicacao = @AnoPublicacao,
    Editora = @Editora,
    ISBN = @ISBN
WHERE IdLivro = @IdLivro
GO
/****** Object:  StoredProcedure [dbo].[spListarAssociacoes]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarAssociacoes]
AS
BEGIN
    SELECT 
        la.IdLivro,
        la.IdAutor,
        l.Titulo,
        a.Nome
    FROM Livro_Autor la
    INNER JOIN Livro l ON la.IdLivro = l.IdLivro
    INNER JOIN Autor a ON la.IdAutor = a.IdAutor
    ORDER BY l.Titulo, a.Nome
END
GO
/****** Object:  StoredProcedure [dbo].[spListarAutores]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarAutores]
AS
BEGIN
    SELECT * FROM Autor
END
GO
/****** Object:  StoredProcedure [dbo].[spListarLivros]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spListarLivros]
AS
SELECT * FROM Livro
GO
/****** Object:  StoredProcedure [dbo].[spListarLivrosPorAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarLivrosPorAutor]
    @IdAutor INT
AS
BEGIN
    SELECT 
       
        Livro.Titulo,
        Livro.AnoPublicacao,
        Livro.Editora,
        Livro.ISBN
    FROM Livro
    INNER JOIN Livro_Autor ON Livro.IdLivro = Livro_Autor.IdLivro
    WHERE Livro_Autor.IdAutor = @IdAutor
END
GO
/****** Object:  StoredProcedure [dbo].[spRemoverAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRemoverAutor]
    @IdAutor INT
AS
DELETE FROM Autor
WHERE IdAutor = @IdAutor
GO
/****** Object:  StoredProcedure [dbo].[spRemoverLivro]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRemoverLivro]
    @IdLivro INT
AS
DELETE FROM Livro
WHERE IdLivro = @IdLivro
GO
/****** Object:  StoredProcedure [dbo].[spRemoverLivroAutor]    Script Date: 22/01/2026 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRemoverLivroAutor]
    @IdLivro INT,
    @IdAutor INT
AS
DELETE FROM Livro_Autor
WHERE IdLivro = @IdLivro
AND IdAutor = @IdAutor
GO
